
build-ngms-Desktop_Qt_5_10_0_MinGW_32bit-Debug/.qmake.stash
build-ngms-Desktop_Qt_5_10_0_MinGW_32bit-Debug/debug/main.o
build-ngms-Desktop_Qt_5_10_0_MinGW_32bit-Debug/debug/ngms.exe
build-ngms-Desktop_Qt_5_10_0_MinGW_32bit-Debug/Makefile
build-ngms-Desktop_Qt_5_10_0_MinGW_32bit-Debug/Makefile.Debug
build-ngms-Desktop_Qt_5_10_0_MinGW_32bit-Debug/Makefile.Release
build-ngms-Desktop_Qt_5_10_0_MinGW_32bit-Debug/out.txt
